<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="web/layout"
      layout:fragment="content">

<head>
    <title>Về Blog</title>
    <meta name="description" content="Blog của Trường, nơi chia sẻ các quan điểm về cuộc sống, những dấu mốc cá nhân dưới góc nhìn của tác giả">
    <meta property="og:description" content="Blog của Trường, nơi chia sẻ các quan điểm về cuộc sống, những dấu mốc cá nhân dưới góc nhìn của tác giả" />
    <meta property='og:image' th:content="${baseUrl + 'logo'}" />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    <meta property="og:image:type" content="image/jpeg" />
    <link rel="stylesheet" th:href="@{/resources/web/css/about-blog.css}">
</head>

<body>
<div class="about-blog">
    <h2>Vì sao tôi viết?</h2>
    <p>Viết trước hết là để thoả mãn nhu cầu cá nhân, nơi tôi cảm thấy niềm vui của mình trong việc viết
        lách.
        Cũng là để chia
        sẻ quan điểm của mình khi ai đó vô tình vào blog này. Vì là quan điểm cá nhân nên không thể tránh
        khỏi
        sự khác biệt và
        không đồng tình từ người khác, đó là chuyện rất bình thường. Cảm ơn bạn đã truy cập vào blog này.
    </p>
    <h2>Về blog</h2>
    <p>Đây là blog tôi xây dựng sau những năm mày mò học lập trình, những bài viết này sẽ xoay quanh những
        chủ đề về lập trình
        và cuộc sống xung quanh tôi hoặc một quan điểm nào đó bất chợt nảy ra trong đầu.</p>
</div>
</div>
</body>

</html>