<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="web/layout"
      layout:fragment="content">
<head>
    <title th:text="${category.name}"/>
    <meta property="og:title" th:content="${category.name}" />
    <meta name="description" content="Blog của Trường, nơi chia sẻ các quan điểm về cuộc sống, những dấu mốc cá nhân dưới góc nhìn của tác giả">
    <meta property="og:description" content="Blog của Trường, nơi chia sẻ các quan điểm về cuộc sống, những dấu mốc cá nhân dưới góc nhìn của tác giả" />
    <meta property='og:image' th:content="${baseUrl + 'logo'}" />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    <meta property="og:image:type" content="image/jpeg" />
</head>
<body>
<div id="home-page">
    <div class="post-list">
        <h1 class="category-title" th:text="${category.name}"/>

        <div class="grid grid-cols-12 grap-1 sm:gap-12 lg:grap-14">
            <div th:replace="web/fragments/post-list :: post-list(posts=${category.posts})"/>
        </div>
    </div>

    <div th:replace="web/fragments/pagination::pagination(totalPages=${category.posts.totalPages}, currentPage=${category.posts.pageable.pageNumber}, urlPrefix=${('/' + category.slug + '/page-')})"></div>
</div>
</body>
</html>