<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="web/layout"
      layout:fragment="content">
<head>
    <title>Trang chủ</title>
    <meta property="og:title" content="Blog của Trường" />
    <meta name="description" content="Blog của Trường, nơi chia sẻ các quan điểm về cuộc sống, những dấu mốc cá nhân dưới góc nhìn của tác giả">
    <meta property="og:description" content="Blog của Trường, nơi chia sẻ các quan điểm về cuộc sống, những dấu mốc cá nhân dưới góc nhìn của tác giả" />
    <meta property='og:image' th:content="${baseUrl + 'logo'}" />
    <meta property="og:image:width" content="250" />
    <meta property="og:image:height" content="250" />
    <meta property="og:image:type" content="image/jpeg" />

</head>
<body>
<div id="home-page">
    <div class="post-list">
        <div class="grid grid-cols-12 grap-1 sm:gap-12 lg:grap-14">
            <div th:replace="web/fragments/post-list :: post-list(posts=${postPage.content})"/>
        </div>
    </div>

    <div th:replace="web/fragments/pagination::pagination(totalPages=${postPage.totalPages}, currentPage=${postPage.pageable.pageNumber}, urlPrefix=${'/page-'})"></div>
</div>
</body>
</html>