<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title>Trang chủ</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/resources/core/css/tailwind.css}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/resources/web/css/styles.css}" />
    <link rel="canonical" th:href="${currentUrl}" />
    <meta property="og:url" th:content="${currentUrl}" />
    <meta property="og:type" th:content="website" />
</head>

<body>
<div th:replace="web/fragments/header :: header"></div>
<div class=" container mx-auto">
    <div class="main-content">
        <div layout:fragment="content"></div>
    </div>
</div>

<button id="scroll-to-top">
    <i class="fas fa-angle-up"></i>
</button>

<div th:replace="web/fragments/footer :: footer"></div>
<script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
<script th:src="@{/resources/web/js/app.js}"></script>
</body>

</html>