<header xmlns:th="http://www.thymeleaf.org" th:fragment="header" class="col-span-12 lg:col-span-2 left-side-wrapper">
    <a href="/" class="logo">
        <img th:src="@{/resources/web/img/logo-website.jpg}" alt="logo">
        <span>Blog của Trường</span>
    </a>

    <label for="toggle-menu" class="btn-toggle-menu">
        <i class="fas fa-bars"></i>
    </label>

    <input id="toggle-menu" type="checkbox"/>

    <ul class="menu-content">
        <li><a th:href="@{/admin/posts}">Bài viết</a></li>
        <li><a th:href="@{/admin/categories}">Danh mục</a></li>
        <li><a th:href="@{/admin/posts}">Nháp</a></li>
        <li><a th:href="@{/admin/tags}">Thẻ</a></li>
    </ul>
</header>