<header xmlns:th="http://www.thymeleaf.org"
        class="bg-header" th:fragment="header">
    <div class="container mx-auto">
        <div class="top-header">
            <div class="logo">
                <a href="/">
                    <img th:src="@{(${'/resources/blog/' + blog.logo})}" alt="logo">
                    <span th:text="${blog.name}"/>
                </a>
            </div>

            <div class="navigation">
                <label for="toggle-menu" class="btn-toggle-menu">
                    <i class="fas fa-bars"></i>
                </label>

                <input id="toggle-menu" type="checkbox"/>

                <ul class="nav-menu">
                    <li><a href="/">Trang chủ</a></li>
                    <li>
                        <a class="toggle-sub-menu cursor-pointer">
                                <span>Bài viết
                                    <i class="fas fa-caret-up"></i>
                                    <i class="fas fa-caret-down"></i>
                                </span>
                        </a>
                        <ul class="nav-sub-menu">
                            <li th:each="item : ${menu}">
                                <a th:href="@{('/' + ${item.slug})}" th:text="${item.name}" />
                            </li>
                        </ul>
                    </li>
                    <li><a href="/about-blog">Về Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>