<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout"
>
<head>
</head>

<body>
<form
        layout:fragment="content"
        th:action="@{/admin/categories}"
        th:object="${category}"
        method="POST"
        class="post-form-edit">

    <th:block th:if="${category.id != null}">
        <input type="hidden" th:field="*{id}">
    </th:block>

    <div class="blog-input">
        <label for="category-title">Tên danh mục</label>
        <input id="category-title" type="text" th:field="*{name}" th:value="${default}"/>
    </div>

    <div class="blog-input">
        <label for="category-slug">Slug</label>
        <input id="category-slug" type="text" th:field="*{slug}" th:value="${default}"/>
    </div>

    <div class="operation-btn">
        <button type="submit" class="post-publish-btn">
            <th:block th:if="${category.id == null}" th:text="${'Thêm'}"/>
            <th:block th:unless="${category.id == null}" th:text="${'Lưu thay đổi'}"/>
        </button>
    </div>
</form>
</body>
</html>