<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<head>
    <title>Bài viết</title>
</head>

<body>

<div id="post-table"
     layout:fragment="content">
    <div class="post-manager-content">
        <table class="blog-table">
            <thead>
            <th width="40%">Tiêu đề</th>
            <th>Tác giả</th>
            <th>Danh mục</th>
            <th>Lượt xem</th>
            <th>Ngày tạo</th>
            </thead>
            <tbody>
            <tr th:each="post : ${postPage.content}">
                <td width="40%" class="title">
                    <label th:for="${'post-setting-toggle-' + post.id}">
                       <th:block th:text="${post.title}"/>
                    </label>

                    <input th:id="${'post-setting-toggle-' + post.id}" class="post-setting-toggle" type="checkbox">

                    <div class="post-setting">
                        <button class="btn-post-setting btn-edit"><a th:href="@{(${'/admin/post-edit/post-id-' + post.id})}">Chỉnh sửa</a></button>
                        <button class="btn-post-setting btn-view"><a th:href="@{(${'/' + post.slug})}">Xem</a></button>
                        <button class="btn-post-setting btn-trash">Thùng rác</button>
                    </div>
                </td>
                <td th:text="${post.createdBy}"/>
                <td th:text="${post.categories}"/>
                <td th:text="${post.viewCount}"/>
                <td>
                    <span th:text="${#dates.format(post.createdAt, 'dd/MM/yyyy')}"/><br>
                    <th:block th:if="${post.status == 1}">
                        Đã đăng
                    </th:block>

                    <th:block th:unless="${post.status == 1}" th:if="${post.status == 0}">
                        Nháp
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>
        <div th:replace="admin/fragments/pagination::pagination(totalPages=${postPage.totalPages}, currentPage=${postPage.pageable.pageNumber + 1}, urlPrefix=${'/admin/posts/page-'})"/>
    </div>
    <a class="btn-save" th:href="@{/admin/post-edit}">
        <i class="fas fa-plus"></i>
    </a>
</div>

</body>
</html>