<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">

<head>
    <script th:src="@{/ckfinder/static/ckfinder.js}"></script>
    <script src="https://cdn.ckeditor.com/ckeditor5/41.2.0/super-build/ckeditor.js"></script>
    <link rel="stylesheet" th:href="@{/resources/admin/css/admin-post-form.css}">
</head>

<body>
<th:block layout:fragment="content">
    <form th:action="@{/admin/posts}" th:object="${post}" enctype="multipart/form-data" method="POST"
          class="post-form-edit">

        <th:block th:if="${post.id != null}">
            <input type="hidden" th:field="*{id}">
        </th:block>

        <div class="blog-input">
            <label for="post-title">Tiêu đề bài viết</label>
            <input id="post-title" type="text" th:field="*{title}"/>
            <p th:if="${#fields.hasErrors('title')}" th:errorclass="error" th:errors="*{title}"/>
        </div>

        <div class="blog-textarea">
            <label for="post-description">Mô tả ngắn</label>
            <textarea id="post-description" rows="3" th:field="*{description}"></textarea>
            <p th:if="${#fields.hasErrors('description')}" th:errorclass="error" th:errors="*{description}"/>
        </div>

        <button type="button" class="thumbnail-btn" data-modal-target="default-modal"
                data-modal-toggle="default-modal">
            Thumbnail
            <i class="fas fa-image"></i>
        </button>

        <div id="default-modal" tabindex="-1" aria-hidden="true"
             class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div
                            class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            Thêm thumbnail
                        </h3>
                        <button type="button"
                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                data-modal-hide="default-modal">
                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                                 viewBox="0 0 14 14">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                            </svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>

                    <!-- Modal body -->
                    <div class="p-4 md:p-5 space-y-4 grid grid-cols-12">
                        <div class="col-span-12">
                            <input type="file" accept="image/*" name="thumbnailFile" id="post-thumbnail-input">
                        </div>
                        <div class="col-span-12">
                            <img id="post-thumbnail-view"
                                 th:src="${post.thumbnail} ? ${'/files/post-thumbnail/' + post.thumbnail} : '/resources/core/img/post-default-thumbnail.jpg'" alt="img"
                                 class="w-[100%]">
                        </div>
                    </div>

                    <div
                            class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                        <button data-modal-hide="default-modal" type="button"
                                class="btn-add-thumbnail btn-post-thumbnail">Xong
                        </button>
                        <button type="button" id="btn-post-thumbnail-cancel"
                                class="btn-cancel btn-post-thumbnail">Huỷ
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-input">
            <label for="post-slug">Slug</label>
            <input id="post-slug" type="text" th:field="*{slug}"/>
            <p th:if="${#fields.hasErrors('slug')}" th:errorclass="error" th:errors="*{slug}"/>
        </div>

        <div class="blog-selector">
            <span class="selector-label">Danh mục</span>
            <input type="checkbox" name="category-toggle" class="selector-toggle" id="category-toggle">
            <label class="selector-placeholder" for="category-toggle">
                -- Chọn danh mục --
                <i class="fas fa-angle-down"></i>
                <i class="fas fa-angle-up"></i>
            </label>
            <ul class="selector">
                <li><input class="w-full" type="text" placeholder="Thêm danh mục"></li>

                <li th:each="category : ${menu}" class="selector-item">
                    <input type="checkbox" th:id="${category.slug}" th:field="*{categoryIds}"
                           th:value="${category.id}">
                    <label th:for="${category.slug}" th:text="${category.name}"/>
                </li>

                <li class="selector-item">
                    <button>
                        Thêm danh mục
                    </button>
                </li>
            </ul>
        </div>

        <textarea id="editor" name="content" th:field="*{content}"/>
        <p th:if="${#fields.hasErrors('content')}" th:errorclass="error" th:errors="*{content}"/>

        <div class="operation-btn">
            <button class="post-publish-btn" name="action" value="publish">
                <th:block th:if="${post.id}" th:text="${'Lưu thay đổi'}"/>
                <th:block th:unless="${post.id}" th:text="${'Xuất bản'}"/>
            </button>
            <th:block th:if="${post.id == null}">
                <button class="save-draft-btn" name="action" value="draft">Lưu nháp</button>
            </th:block>
        </div>
    </form>
    <script>

        CKEDITOR.ClassicEditor.create(document.getElementById("editor"), {
            ckfinder: {
                uploadUrl: "/ckfinder/connector?command=QuickUpload&type=Files&responseType=json"
            },
            toolbar: {
                items: [
                    'ckboxImageEdit',
                    'exportPDF', 'exportWord', '|',
                    'findAndReplace', 'selectAll', '|',
                    'heading', '|',
                    'bold', 'italic', 'strikethrough', 'underline', 'code', 'subscript', 'superscript', 'removeFormat', '|',
                    'bulletedList', 'numberedList', 'todoList', '|',
                    'outdent', 'indent', '|',
                    'undo', 'redo',
                    '-',
                    'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor', 'highlight', '|',
                    'alignment', '|',
                    'link', 'uploadImage', 'blockQuote', 'insertTable', 'mediaEmbed', 'codeBlock', 'htmlEmbed', '|',
                    'specialCharacters', 'horizontalLine', 'pageBreak', '|',
                    'textPartLanguage', '|',
                    'sourceEditing'
                ],
                shouldNotGroupWhenFull: true
            },
            list: {
                properties: {
                    styles: true,
                    startIndex: true,
                    reversed: true
                }
            },
            heading: {
                options: [
                    { model: 'paragraph', title: 'Paragraph', class: 'ck-heading_paragraph' },
                    { model: 'heading1', view: 'h1', title: 'Heading 1', class: 'ck-heading_heading1' },
                    { model: 'heading2', view: 'h2', title: 'Heading 2', class: 'ck-heading_heading2' },
                    { model: 'heading3', view: 'h3', title: 'Heading 3', class: 'ck-heading_heading3' },
                    { model: 'heading4', view: 'h4', title: 'Heading 4', class: 'ck-heading_heading4' },
                    { model: 'heading5', view: 'h5', title: 'Heading 5', class: 'ck-heading_heading5' },
                    { model: 'heading6', view: 'h6', title: 'Heading 6', class: 'ck-heading_heading6' }
                ]
            },
            fontFamily: {
                options: [
                    'default',
                    'Arial, Helvetica, sans-serif',
                    'Courier New, Courier, monospace',
                    'Georgia, serif',
                    'Lucida Sans Unicode, Lucida Grande, sans-serif',
                    'Tahoma, Geneva, sans-serif',
                    'Times New Roman, Times, serif',
                    'Trebuchet MS, Helvetica, sans-serif',
                    'Verdana, Geneva, sans-serif'
                ],
                supportAllValues: true
            },
            fontSize: {
                options: [10, 12, 14, 'default', 18, 20, 22],
                supportAllValues: true
            },
            htmlSupport: {
                allow: [
                    {
                        name: /.*/,
                        attributes: true,
                        classes: true,
                        styles: true
                    }
                ]
            },
            htmlEmbed: {
                showPreviews: true
            },
            link: {
                decorators: {
                    addTargetToExternalLinks: true,
                    defaultProtocol: 'https://',
                    toggleDownloadable: {
                        mode: 'manual',
                        label: 'Downloadable',
                        attributes: {
                            download: 'file'
                        }
                    }
                }
            },
            mention: {
                feeds: [
                    {
                        marker: '@',
                        feed: [
                            '@apple', '@bears', '@brownie', '@cake', '@cake', '@candy', '@canes', '@chocolate', '@cookie', '@cotton', '@cream',
                            '@cupcake', '@danish', '@donut', '@dragée', '@fruitcake', '@gingerbread', '@gummi', '@ice', '@jelly-o',
                            '@liquorice', '@macaroon', '@marzipan', '@oat', '@pie', '@plum', '@pudding', '@sesame', '@snaps', '@soufflé',
                            '@sugar', '@sweet', '@topping', '@wafer'
                        ],
                        minimumCharacters: 1
                    }
                ]
            },
            removePlugins: [
                'AIAssistant',
                'CKBox',
                'CKFinder',
                'EasyImage',
                'RealTimeCollaborativeComments',
                'RealTimeCollaborativeTrackChanges',
                'RealTimeCollaborativeRevisionHistory',
                'PresenceList',
                'Comments',
                'TrackChanges',
                'TrackChangesData',
                'RevisionHistory',
                'Pagination',
                'WProofreader',
                'MathType',
                'SlashCommand',
                'Template',
                'DocumentOutline',
                'FormatPainter',
                'TableOfContents',
                'PasteFromOfficeEnhanced',
                'CaseChange'
            ]
        })
            .then(editor => {
                console.log(Array.from(editor.ui.componentFactory.names()));
            })
            .catch(error => {
                console.error(error);
            });

        const postThumbnailInput = document.querySelector('#post-thumbnail-input')
        const postThumbnailView = document.querySelector('#post-thumbnail-view')
        const btnPostThumbnailCancel = document.querySelector('#btn-post-thumbnail-cancel')
        postThumbnailInput.onchange = (event) => {
            postThumbnailView.src = URL.createObjectURL(event.target.files[0])
        }
        btnPostThumbnailCancel.onclick = () => {
            postThumbnailInput.value = ''
            postThumbnailView.src = '[[${(baseUrl + "files/post-thumbnail/" + post.thumbnail)}]]'
        }

    </script>
</th:block>
</body>

</html>