<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<head>
    <title>Tag Edit</title>
</head>
<body>
<div layout:fragment="content" class="post-form-edit">

    <div class="blog-input">
        <label for="post-title">Tên thẻ</label>
        <input id="post-title" type="text"/>
    </div>

    <div class="operation-btn">
        <button class="post-publish-btn">Thêm</button>
    </div>
</div>
</body>
</html>